[
{node_name, uuid},
{node_name_templates, ["rel/vars.config"]},
{cookie, 'ejabberd'},
{start_cmd, "export PATH=/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/local/erlang/r15b02/bin:;"
            "cd ejabberd;"
            "make start"},
{master_fun, fun() ->
    mnesia:change_table_copy_type(schema, node(), disc_copies),
    [mnesia:change_table_copy_type(Tab, node(), ram_copies) ||
        Tab <- [acl, captcha, config, local_config, iq_response,
            muc_online_room, muc_reg_users_counter,
            muc_registered, muc_registered_ip, muc_room,
            route, s2s, session, session_counter, temporarily_blocked]],
    error_logger:info_msg("Master fun called~n", []),
    ok
end},
{slave_fun, fun(ExtraNode) ->
    application:start(mnesia),
    {ok, [ExtraNode]} = mnesia:change_config(extra_db_nodes, [ExtraNode]),
    mnesia:change_table_copy_type(schema, node(), disc_copies),
    [mnesia:add_table_copy(Tab, node(), ram_copies) ||
        Tab <- [acl, captcha, config, local_config, iq_response,
        muc_online_room, muc_reg_users_counter,
        muc_registered, muc_registered_ip, muc_room,
        route, s2s, session, session_counter, temporarily_blocked]],
    error_logger:info_msg("Slave fun called~n", []),
    ok
end}
].
