{erl_opts, [debug_info,
            {i, ["include"]}]}.

{require_otp_vsn, "R1[456]"}.

{sub_dirs, ["apps/ejabberd", "apps/stringprep", "apps/mysql", "rel", "dev"]}.

{deps, [
    {cuesport, ".*", {git, "git://github.com/goj/cuesport.git", {branch, "master"}}},
    {redo, ".*", {git, "git://github.com/JacobVorreuter/redo.git", {branch, "master"}}},
    {exml, ".*", {git, "git://github.com/esl/exml.git", {branch, "refc_bins"}}},
    {lager, ".*", {git, "git://github.com/esl/lager.git", {branch, "custom_loglevels"}}}
]}.

{pre_hooks, [{compile, "make generate_snmp_header"}]}.
