{hosts, "[\"localhost\"]"}.
{node_name, "muc-node2@localhost"}.
{mnesia_extra_db_nodes, "-mnesia extra_db_nodes \"['muc-node1@localhost']\""}.
{odbc_server, "{odbc_server, {mysql, \"localhost\", \"ejabberd\", \"ejabberd\", \"password\"}}."}.
{mod_snmp, ""}.
{ejabberd_c2s_port, 5232}.
{ejabberd_s2s_in_port, 5279}.
