{hosts, "[\"localhost\"]"}.
{host_config, ""}.
{odbc_server, ""}.
{s2s_addr, ""}.
{s2s_default_policy, deny}.
{outgoing_s2s_port, 5269}.
{node_name, "{{node_name}}"}.
{ejabberd_c2s_port, 5222}.
{ejabberd_s2s_in_port, 5269}.
{mod_snmp, ""}.
{sm_backend, "{mnesia, []}"}.
{auth_method, "internal"}.
{ext_auth_script, ""}.
{tls_config, ""}.
{zlib, ""}.
